@model LoginViewModel



@if (Model.ExternalProviders.Any())
{
    <section class="Box">
        <div class="Box-shadow">

            <div class="Box_Section Box_Section-ServiceProvider">
                <!-- TODO: Support for client.logo_uri? -->
                <div class="Box_Section_Title">Logg på@*@Model.ClientName*@</div>
            </div>

            <div class="Box_header">
                <h1 class="Box_header-title with-logo">Velg elektronisk ID</h1>
            </div>

            <div class="Box_main">
                <ul class="ln-List">
                    @{
                        var tabIndex = 3;
                        foreach (var provider in Model.ExternalProviders)
                        {
                            <li class="list-group-item">
                                                                                             
                                <a id="@provider.DisplayName"
                                   asp-controller="External"
                                   asp-action="Challenge"
                                   asp-route-provider="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl"
                                   class="ln-List_Element"
                                   tabindex="(@tabIndex++)" title="Velg @provider.DisplayName">
                                    <span class="ln-List_Element_Logo">
                                        @switch (provider.AuthenticationScheme)
                                        {
                                            case Constants.AuthenticationSchemes.IdPorten:
                                                <img src="~/img/logo_difi.png" alt="@provider.DisplayName" />
                                                break;
                                            case Constants.AuthenticationSchemes.StavangerKommune:
                                                <img src="~/img/stavanger-kommune.png" alt="@provider.DisplayName" />
                                                break; 
                                            case Constants.AuthenticationSchemes.BergenKommune:
                                                <img src="~/img/bergen-kommune.png" alt="@provider.DisplayName" />
                                                break;
                                            case Constants.AuthenticationSchemes.Google:
                                                <img src="~/img/google.png" alt="@provider.DisplayName" />
                                                break;
                                        }
                                    </span>
                                    <div class="ln-List_Element_Service">
                                        <span class="ln-List_Element_Service_Name">@provider.DisplayName</span>
                                        <span class="ln-List_Element_Service_Info">Logg inn med @provider.DisplayName</span>
                                    </div>

                                </a>
                            </li>

                        }
                    }


                </ul>


                <div class="Box_footer">

                    <div class="Box_footer-help">
                        <a href="#help" title="" target="_blank">
                            <span class="fa fa-question-circle-o"></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </section>


}

@if (!Model.EnableLocalLogin && !Model.ExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this client.
    </div>
}